.backOrNextSection {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.backButton {
    float: left;
    border: 0px !important;
    margin: 0px !important;
    background-color: white !important;
    border-color: white !important;
}

.nextButton {
    float: right;
    border: 0px !important;
    margin: 0px !important;
    background-color: white !important; ;
    border-color: white !important;
}

.tutorialLayout {
    text-align: center;
}

.tutorialVideo {
    width: 100%;
    height: 200px;
}
